*, :after, :before { box-sizing: border-box; }

header,
footer {
	background: yellowgreen;
}

aside {
	background: beige;
}

nav {
	background: lightsteelblue;
}

/* -------------------------------------------- */
/* CSS */
/* -------------------------------------------- */
/*
	< 599px - mobile
	> 899px - tablet
	> 899px - pc	
*/

body {
	margin: 0;
	padding: 0;
}

header, nav, article, footer,aside {
	height: 20vh;
}

@media screen and (min-width: 599px) {
	.article {
		display: flex;
	}

	article {
		flex: 1 1 70%;
	}

	aside {
		flex: 1 1 30%;
	}

	article, aside {
		height: 40vh;
	}
}

@media screen and (min-width: 899px) {
	main {
		display: flex;
	}

	nav {
		width: 20vw;
		height: 100vh;
	}

	.content {
		width: 80vw;
	}

	article, aside {
		height: 60vh;
	}
}